



<div class="container">
  <div class="card mb-3 border-color-danger mx-auto mt-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/IMG_20201012_132126.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title text-center "><b>Nhlanhla Elvis Mbokazi</b></h4>
          <br>

          <p>I am a software developer, and I am currently working at the Digital Academy, as a fullstack developer.</p>

          <p>I am a kind, patient, pesistant and dedicated programmer, who is willing to learn and improve as a developer.</p>

          <p>I want to use technology to make a significant change where I possibly can.</p>



        </div>


      </div>
    </div>
  </div>

</div>
