<div class="container">
  <div class="card mx-auto mt-2" style="width: 65%;">
    <div class="position-relative">
    <div class="card-body">
        <h5 class="card-title text-center"><b>Skills</b></h5>
        <br>
        <p>
          <a class="btn btn-primary ml-3" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Backend technologies</a>
          <button class="btn btn-primary position-absolute top-45 start-50 " aria-controls="multiCollapseExample1"type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" style="margin-left: 1rem;">Frontend technologies</button>

        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body like">
                <p>MongoDB</p>
                <p>PostgreSQL</p>
                <p>Nodejs (express)</p>
                <p>Postman</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body like">
                <p>Figma</p>
                <p>Git</p>
                <p>Angular2+</p>
                <p>Ionic</p>
              </div>
            </div>
          </div>
        </div>

    </div>

    </div>


  </div>



</div>
