<nav class="navbar navbar-expand-lg navbar-light  ">
  <div class="container-fluid m-3">

    <span>
        <img class="fluid" src="../assets/IMG_20201012_132126.jpg" alt="">
    </span>
    <span>
        <p class="first">Nhlanhla Elvis Mbokazi</p>
      </span>

    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto  gap-3">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"  >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>



  <div class="card mb-3 mx-auto my-5" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4 col-sm-4">
        <img class="img " src="../assets/IMG_20201012_132126.jpg" alt="">
      </div>
      <div class="col-md-8 col-sm-8">
        <div class="card-body ">
          <p><b>Hello,</b></p>
          <p>I am a Software developer.</p>
          <p>I am a kind, patient, pesistant and dedicated programmer, who is willing to learn and improve as a developer.</p>
          <p>I want to use technology to make a significant change where I possibly can.</p>
          <div class="border-bottom"></div>
          <br>
          <p ><b>Name</b> &nbsp; &nbsp; &nbsp; &nbsp;Nhlanhla Mbokazi</p>
          <p><b>Email</b> &nbsp; &nbsp; &nbsp; &nbsp;nhlanhlaelvis67@gmail.com</p>
          <p><b>Location</b>&nbsp; &nbsp; &nbsp; &nbsp;Pretoria, Gauteng</p>

          <form method="get" action="../assets/NE Mbokazi CV.pages">
            <button class="rounded-3 bg-secondary text-white " type="submit">Download CV</button>
         </form>
        </div>
      </div>
    </div>
  </div>


  <br>
  <div class="expand-lg bg-light skill">

  </div>

</body>

<router-outlet></router-outlet>
