.navbar{
  height: 80vh;
  align-items:flex-start;
  background: rgb(250, 231, 231);
}

.fluid{
  height: 30px;

}

.first
{
  padding-left: 10px;
  margin: 0;
}

.img{
  height: 350px;
  margin: 5rem;
  margin-left: 15%;
}

.like{
  height:10vh;
}

.card-body
{
  margin-top: 3.8rem;
}

.skill{
  height: 50vh;
}

