<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto m-3 gap-5">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#"  >Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>


  <div class="row">
    <div class="col-sm-12">
      <img class="fluid" src="../../../assets/vecteezy_technology-blue-background_.jpg" alt="">
  <span>  <h3 class="text-center">
          I am Nhlanhla Elvis Mbokazi
          <br>
          I am Software developer
      </h3>

    </span>
  </div>
</div>

<div class="dance"></div>

</body>
